        /*font{
            color : rgb(20, 205, 222);
        }*/
        button{
            height:130px;
            width:130px;
            font-size:35px;
        }
        p{
            font-size:25px;
            color:blue;
        }
        input{
            border:1px solid black;
            padding:5px;
            font-size:20px;
            height:35px;
        }
        .normal{
            border-radius:4px;
            background:white;
            border:1px solid black;
            height:40px;
            width:55px;
            font-size:15px;
            background:rgb(20, 222, 222);
        }

        div{
            display : none;
        }

        ol{
            width:620px;
            height:300px;
            font-size:22px;
            padding-right:5px;
        }

        .rulesList{
            margin:15px;
            border:2px dashed black;
            border-radius:6px;
            width:700px;
            height:410px;
            padding-bottom:5px;
            color:blue;
        }